{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/registration.css') }}">
{% endblock %}

{#{% block body %}
    <div class="register_block">
        <h1>Регистрация</h1>
    </div>

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword, {
        label: 'Password'
    }) }}
    {{ form_row(registrationForm.agreeTerms) }}

    <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}

{% endblock %}#}

{% block body %}
<div class="content-center">
    <form class="register__form" method="post">
        <h1 class="h3 mb-3 font-weight-normal">Регистрация</h1>
        <div class="register__form-field-container email_container">
            {% include 'inc/_form-field.html.twig' with {
                'field': registrationForm.email,
                'type': 'email',
                'name': 'email',
                'id': 'inputEmail'
            } %}
        </div>
        <div class="register__form-field-container password_container">
            {% include 'inc/_form-field.html.twig' with {
                'field': registrationForm.plainPassword,
                'type': 'password',
                'name': 'password',
                'id': 'inputPassword'
            } %}
        </div>
        <div class="register__form-field-container first-name_container">
            <input
                type="text"
                name="firstName"
                id="inputFirstName"
                class="form-control"
                required
                autofocus
                value="Alexey"
            />
        </div>
        <div class="register__form-field-container last-name_container">
            <input
                type="text"
                name="lastName"
                id="inputEmail"
                class="form-control"
                required
                autofocus
                value="Sadovin"
            />
        </div>
        <div class="register__form-field-container login_container">
            <input
                type="text"
                name="login"
                id="inputLogin"
                class="form-control"
                autocomplete="email"
                required
                autofocus
                value="alexey.sadovin"
            />
        </div>
        <div class="register__form-field-container phone_container">
            <input
                type="tel"
                name="phone"
                id="inputPhone"
                class="form-control"
                required
                autofocus
                value="12345"
            />
        </div>
        <div class="agree_container">
            {{ form_widget(registrationForm.agreeTerms) }}
            {#<input
                type="checkbox"
                name="agree"
                id="agree"
                required
            />#}
            <label for="agree">
                соглашаюсь с <a href="https://www.gosuslugi.ru/" target="_blank">условиями сайта</a>
            </label>
        </div>
        {{ form_rest (registrationForm) }}
        <button type="submit" class="btn btn-lg btn-primary" type="submit">Зарегистрироваться</button>
        <div class="auth_form-extra">
            <div>Уже зарегестрированы?</div>
            <a href="/login">Войдите</a>
        </div>
    </form>
</div>
{% endblock %}
