{% extends 'base.html.twig' %}

{% block title %}Магазины{% endblock %}

{% block body %}
    <div class="shops-container">
        {% if shops %}
            {% for shop in shops %}
                <a href="shop/{{ shop.userLogin }}" class="shop">
                    <div class="shop__image">
                        <img src={{ shop.shopImageUrl }} />
                    </div>
                    <div class="shop__owner-content">
                        <div class="shop__owner-content__avatar">
                            <img src={{ shop.userPhotoUrl }} />
                        </div>
                        <div class="shop__owner-content__login">{{ shop.userLogin }}</div>
                    </div>
                    <div class="shop__content-info">
                        <div class="shop__content-info-title">{{ shop.shopTitle }}</div>
                        <div class="shop__content-info-description">{{ shop.shopDescription }}</div>
                    </div>
                </a>
            {% endfor %}
        {% endif %}
        {% if not shops %}
            Empty shop..(
        {% endif %}

    </div>
{% endblock %}
