{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/products.css') }}">
{% endblock %}

{% block title %}Товары{% endblock %}

{% block body %}
    <div class="top-panel">
        <h1 class="search-title">Товары</h1>
        <select class="form-select">
            <option value={{ null }}>Все</option>
            {% for item in categories %}
                <option value={{ item.id }}>{{ item.name }}</option>
            {% endfor %}
        </select>
    </div>
    {% if paginator is defined %}
        {% include 'inc/_product_pagination.html.twig' with {'paginator': paginator} %}
    {% endif %}
{% endblock %}