{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/user_admin.css') }}">
{% endblock %}

{% block title %}Админка{% endblock %}

{% block body %}
    <div class="container">
        <div class="admin__top">
            <div>Список категорий: </div>
            <ul id="catgetories_list">
                {% if categories %}
                    {% for category in categories %}
                        <li class="category_list-item">
                            <div class="categoryName">{{ category.getName }}</div>
                            <i id={{ category.getId}} title="Удалить" class="far fa-trash-alt"></i>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
            <div class="new-category-wrapper">
                <input id="new-category-input" placeholder="Введите новую категорию" class="input-flex" type="text" />
                <i id="add-category" class="fas fa-plus-circle"></i>
            </div>
        </div>
        <div class="admin__bottom">
            <div>Список пользователей: </div>
            <ul>
                <li class="user_list-item">
                    <div>Пользователь name 1</div>
                    <select class="form-select user-status" id="item-category" aria-label="Default select example">
                        <option value="clothes" selected>Одежда</option>
                        <option value="food">Еда</option>
                        <option value="electronic">Электроника</option>
                        <option value="fetish">Фетиш</option>
                    </select>
                    <button type="button" class="btn btn-danger">Бан</button>
                </li>
                <li class="user_list-item">
                    <div>Пользователь name 1</div>
                    <select class="form-select user-status" id="item-category" aria-label="Default select example">
                        <option value="clothes" selected>Одежда</option>
                        <option value="food">Еда</option>
                        <option value="electronic">Электроника</option>
                        <option value="fetish">Фетиш</option>
                    </select>
{#                    мб будет ссылка на все его магазины, чтобы банить магаз#}
                    <button type="button" class="btn btn-danger">Бан</button>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/user_admin.js') }}">
{% endblock %}