{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/user_admin.css') }}">
{% endblock %}

{% block title %}Админка{% endblock %}

{% block body %}
    <div class="container">
        <div class="admin__top">
            <div>
                <div>Список категорий: </div>
                <ul id="catgetories_list">
                    {% if categories %}
                        {% for category in categories %}
                            <li class="category_list-item">
                                <div class="categoryName">{{ category.getName }}</div>
                                <i id={{ category.getId}} title="Удалить" class="far fa-trash-alt"></i>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
                <div class="new-category-wrapper">
                    <input id="new-category-input" placeholder="Введите новую категорию" class="input-flex" type="text" />
                    <i id="add-category" class="fas fa-plus-circle"></i>
                </div>
            </div>
            <div>
                <div class="grid-top">
                    <div>Список статусов:</div>
                    <div>Max магазинов</div>
                    <div>Max товаров</div>
                </div>
                <ul id="statuses_list">
                    {% if statuses %}
                        {% for status in statuses %}
                            <li class="status_list-item">
                                <div class="statusName">{{ status.getName }}</div>
                                <div class="max-shops">{{ status.getShopCount }}</div>
                                <div class="max-items">{{ status.getProductCount }}</div>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="admin__bottom">
            <div>Список пользователей: </div>
            <ul>
                {% if users %}
                    {% for user in users %}
                        <li class="user_list-item">
                            <div>{{ user.email }}</div>
                            <select data-userId={{ user.getUserId}} class="form-select user-status" id="item-category" aria-label="Default select example">
                                {% for status in statuses %}
                                    {% if user.getStatus.getId == status.getId %}
                                        <option selected value={{ status.getId }}>{{ status.name }}</option>
                                    {% endif %}
                                    {% if user.getStatus.getId != status.getId %}
                                        <option value={{ status.getId }}>{{ status.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/user_admin.js') }}">
{% endblock %}