{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/profile.css') }}">
{% endblock %}

{% block title %}Профиль{% endblock %}

{% block body %}
<div class="container ">
    <div class="profile-container-top">
        <div>
            <div class="profile-name">Профиль пользователя</div>
            <div class="profile-content">
                <div class="profile-photo">
                    <img src={{ 'https://sitepokupok.ru/web/img/icons/user.svg' }} />
                </div>
                <div>
                    <div class="profile-login">{{ app.user.login }}</div>
                </div>
            </div>
        </div>
        <a class="settings_link" href=''>
            <i class="fa fa-cog settings" aria-hidden="true"></i>
        </a>
    </div>
    <div class="profile-container-bottom">
        <div class="profile-container-bottom__header">
            <div class="my-shops-title">Мои магазины:</div>
            <a href={{ path('create_shop') }}>
                <i class="fas fa-plus shops-add" title="Добавить магазин"></i>
            </a>
        </div>
        {% if shops %}
            {% for shop in shops %}
                {% if app.user.getUserId == shop.getUser.getUserId %}
                    <a id={{ shop.getId}} href={{ path('shop', {'shopId': shop.id}) }} class="shop">
                        <div class="shop_top_info">
                            <div class="shop-image">
                                <img src={{ shop.shopImageUrl ?? 'https://files.sitepokupok.ru/stock/142897-e9f31d4e.jpg'}} />
                            </div>
                            <div>
                                <div class="shop-name">{{ shop.name }}</div>
                                <div>{{ shop.description }}</div>
                            </div>
                        </div>
                        {% if not shop.isHidden %}
                            <i title="Скрыть магазин" class="fa fa-eye" aria-hidden="true"></i>
                        {% endif %}
                        {% if shop.isHidden %}
                            <i title="Показать магазин" class="fa fa-eye-slash" aria-hidden="true"></i>
                        {% endif %}
                    </a>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if not shops %}
            <div>Empty...</div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/user_profile.js') }}">
{% endblock %}