{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/shops.css') }}">
{% endblock %}

{% block title %}Магазины{% endblock %}

{% block body %}
    <div class="shops-container">
        {% if shops %}
            {% for shop in shops %}
                {% if not shop.isHidden %}
                    <a href={{ path('shop', {'shopId': shop.id}) }} class="shop">
                        <div class="shop__image">
                            <img src={{ shop.shopImageUrl ?? 'https://files.sitepokupok.ru/stock/139866-dc9c6560.jpg' }} />
                        </div>
                        <div class="shop__owner-content">
                            <div class="shop__owner-content__avatar">
                                <img src={{ null ?? 'https://files.sitepokupok.ru/user/859.jpg'}} />
                            </div>
                            <div class="shop__owner-content__login">{{ shop.user.firstName }}</div>
                        </div>
                        <div class="shop__content-info">
                            <div class="shop__content-info-title">{{ shop.name }}</div>
                            <div class="shop__content-info-description">{{ shop.name }}</div>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if not shops %}
            Empty shop..(
        {% endif %}
    </div>
    <ul class="pagination">
        <li class="pagination__btn">
            <span class="material-icons">chevron_left</span>
        </li>
        <li class="pagination__numbers">1</li>
        <li class="pagination__numbers active">2</li>
        <li class="pagination__numbers">3</li>
        <li class="pagination__numbers">4</li>
        <li class="pagination__numbers">5</li>
        <li class="pagination__numbers">6</li>
        <li class="pagination__dots">...</li>
        <li class="pagination__numbers"> 10</li>
        <li class="pagination__btn">
            <span class="material-icons">chevron_right</span>
        </li>
    </ul>
{% endblock %}
