{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/shop.css') }}">
{% endblock %}

{% block title %}{{ shop.name }}{% endblock %}

{% block body %}
    <div class="shop-container">
        <div class="shop-info-container">
            <div class="shop-image">
                <img src={{ shop.shopImageUrl ?? 'https://files.sitepokupok.ru/stock/139847-7b41fb0c.jpg' }} />
            </div>
            <div class="shop-info-container_top">
                {% if app.user.getUserId == shop.getUser.getUserId %}
                    <div class="admin-shop">
                        <textarea class="input-flex title-editor" placeholder='Введите название магазина...'></textarea>
                        <div class="hidden_for_title_editor"> {{ shop.name }}</div>
                    </div>
                {% endif %}
                {% if app.user.getUserId != shop.getUser.getUserId %}
                    <div class="shop-name">{{ shop.name }}</div>
                {% endif %}
                <div class="shop-info">
                    <div>{{ shop.createdAt.format('d-m-Y') }}</div>
                    <div>Комментариев TODO</div>
                    <div>Нравится: 0 TODO</div>
                </div>
                <div class="shop-user-info">
                    <div class="shop-user-info__name">{{ shop.user.username }}</div>
                    <div>С TODO</div>
                </div>
                <div>
                    <div class="shop-about-shop">О магазине</div>
                    <div class="shop-description">
                        {% if app.user.getUserId == shop.getUser.getUserId %}
                            <textarea class="input-flex description_editor" placeholder='Введите описание магазина...'></textarea>
                            <div class="hidden_for_description_editor"> {{ shop.description }}</div>
                        {% endif %}
                        {% if app.user.getUserId != shop.getUser.getUserId %}
                            {{ shop.description }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="shop-items-container">
            <div class="shop-items__top">
                <div class="shop-items-header">Товары:</div>
                {% if app.user.getUserId == shop.getUser.getUserId  %}
                    <a href={{ path('create_shop_item', {'shopId': shop.id}) }}>
                        <i class="fas fa-plus shop-items-add" title="Добавить товар"></i>
                    </a>
                {% endif %}
            </div>
            {% for item in shop.shopItems %}
                <div class="shop-item" id={{ item.id }}>
                    <div class="item-image">
                        <img src={{ 'https://files.sitepokupok.ru/good/thumbs/1834995-e15192b8.jpg' }} />
                    </div>
                    <div class="shop-item-info">
                        <div>
                            <div class="shop-item-title">{{ item.name }}</div>
                            <div class="shop-item-description">{{ item.description }}</div>
                            <div class="shop-item-price">{{ item.price }} ₽</div>
                        </div>
                        {% if app.user.getUserId == shop.getUser.getUserId %}
                            <i class="far fa-trash-alt" title="Удалить товар"></i>
                        {% endif %}
                        {#
                            shop.id in_array(items)
                        #}
                        {% if app.user.getUserId != shop.getUser.getUserId %}
                            {# TODO: переделать на звезду #}
                            <div class="shop-to-favorite">
                                <label class="like">
                                    <input class="like-input" type="checkbox" data-is-favourite="{{ true }}"/>
                                    <div class="hearth"></div>
                                </label>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/shop.js') }}">
{% endblock %}